/.vscode
/Files
/Images
/Logs
/Profiles/Charts\Default
/Profiles/Community
/Profiles/SymbolSets
/Profiles/Templates/fxtool.set
/Profiles/Templates/tfx.set
/Profiles/Tester
/Scripts
/Services
/Shared Projects
experts.dat